* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
primary color: #c157ff, 

*/
body {
  font-family: "Bricolage Grotesque", sans-serif;
}
p {
  line-height: 1.4;
  color: #333;
}
button {
  all: unset;
  background-color: #ae4ee6;
  color: #fff;
  cursor: pointer;
  justify-self: center;
  padding: 8px 16px;
  border-radius: 8px;
}
.btn-delete {
  cursor: pointer;
  font-weight: bold;
  color: red;
  font-size: 12px;
}
ul {
  list-style: none;
}
/* .app {
} */
.header {
  background-color: #f9eeff;
  padding: 18px 0;
  margin-bottom: 48px;
}
.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 12px;
}
h1 {
  text-align: center;
  font-size: 48px;
  color: #9a46cc;
}
.intro {
  margin-bottom: 64px;
}
.intro h2 {
  margin-bottom: 12px;
  font-size: 32px;
  color: #333;
}
.intro p {
  font-size: 22px;
}
.goalSet__section {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.goalSet__section form {
  font-size: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 16px;
}

.goalSet__section input,
.task__add input {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #4d2366a1;
  border-radius: 4px;
  padding: 2px 8px;
}
.goalSet__section button {
  margin-top: 42px;
  grid-column: 1/-1;
}
.goalSet__section button:hover {
  background-color: #743499 !important;
  transition: all 0.3s;
}
.activity__box {
  display: grid;
  grid-template-columns: 30% 35% 35%;
}
.couner_box {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.couner_box p {
  align-self: flex-start;
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
.counter {
  align-self: center;
  display: flex;
  gap: 10px;
  background-color: #873db3;
  color: #fff;
  align-items: center;
  padding: 20px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 #691c96 inset;
}
.stats__container {
  align-self: flex-start;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  background-color: #9a46cc;
  color: #fff;
  justify-self: start;
  padding: 16px 32px;
  border-radius: 12px;
}
.stats__container p {
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
}
.stats__container div {
  display: flex;
  align-items: end;
  gap: 6px;
}

.btn__add-activity {
  align-self: center;
  justify-self: center;
  background-color: orange;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 24;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
}
.btn__add-activity:hover {
  transition: 0.3s;
  background-color: #f9eeff;
  color: #4d2366;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.task__add {
  background-color: #fff6e6;
  padding: 24px 12px;
  border-radius: 12px;
  align-self: flex-start;
  font-size: 18px;
}

.task__add form {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 12px;
  color: #4d2366;
}
.task__add form button {
  justify-self: center;
  margin-top: 22px;
  grid-column: 1/-1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.task__add form button:hover {
  background-color: #743499 !important;
  transition: all 0.3s;
}
.task__box {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 24px;
  background-color: #f3ddff;
  padding: 24px 16px;
  border-radius: 12px;
}
.task_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tag {
  text-align: center;
  font-weight: bold;
  color: #743499;
  margin-bottom: 16px;
}
.task_list li {
  width: 100%;
  display: grid;
  /* grid-template-columns: 5% 92% 3%; */
  grid-template-columns: 5fr 92fr 3fr;
  column-gap: 12px;
  align-items: center;
}
.task_list li input[type="checkbox"] {
  accent-color: #743499;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.task_list li div {
  display: flex;
  flex-direction: column;
}
.description {
  font-size: 14px;
  color: #aaa8a8;
}
.title {
  font-size: 18px;
  font-weight: 600;
}

/* ADD SOME RESPONSIVENESS */
