* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* 
color:#6356E5
*/
body {
  font-family: "Outfit", sans-serif;
  background-color: #f6f8fe;
}
.container {
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.2rem;
}
.mainConatiner {
  min-height: 60vh;
}

/* USER'S QUESTION CHOOSE SECTION */
.quizCustomizeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherSelectContainer {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.otherSelectContainer input {
  font-family: inherit;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  width: 50%;
  border: 1px solid #4f45b7;
  border-radius: 0.8rem;
  background-color: #efeefc;
  font-weight: 500;
}
.quizCustomizeContainer h2 {
  font-size: 3.2rem;
  text-align: center;
  color: #453ca0;
  margin-bottom: 3.6rem;
}
.quizCustomizeContainer ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.4rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.quizCustomizeContainer li {
  row-gap: 2.4rem;
  padding: 1.2rem 2.4rem;
  background-color: #8278ea;
  border-radius: 0.6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.quizCustomizeContainer .selected {
  transition: all 0.3s;
  background-color: #453ca0;
  color: #fff;
}
.optionBtn {
  text-align: center;
  padding: 2.4rem 3.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #ced4da;
  border: 2px solid #ced4da;
  color: #333;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.optionBtn:hover {
  border: 2px solid #adb5bd;
  transition: all 0.3s;
  transform: scale(1.15);
}
.optionBtn[disabled] {
  transform: unset;
  border: unset;
}
.optionBtn[disabled]:hover {
  cursor: not-allowed;
}
.selectedOption {
  transform: scale(1.15) !important;
}
.right {
  background-color: #38b000 !important;
  border: 2px solid #38b000;
  color: #fff;
}
.wrong {
  background-color: #f77f00 !important;
  border: 2px solid #f77f00;
}
@media (max-width: 31em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 50%;
  }
  .quizCustomizeContainer h2 {
    font-size: 2.8rem;
  }
  .quizCustomizeContainer ul {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
  }
  .quizCustomizeContainer li {
    font-size: 1.8rem;
  }
  .optionBtn {
    font-size: 2rem;
  }
  .optionBtn:hover {
    border: 1px solid #adb5bd;
  }
}
/* @media (max-width: 25em) {
  
} */
